Матаков Денис Дмитриевич Резюме.pdf
Matakov Denis CTO.pdf
PROMPT.MD
reviews/.DS_Store
reviews/Матаков Д. 1. Управление людьми.png
reviews/Матаков Д. 2. Управление командами.png
reviews/Матаков Д. 3. Процессы.png
reviews/Матаков Д. 4. Целеполагание.png
reviews/Матаков Д. 5. Бизнес экспертиза.png
reviews/Матаков Д. Отзывы коллег.png
reviews/Recommendations | Denis Matakov | LinkedIn.pdf
reviews/recommendations.zip
